{% extends 'base.html.twig' %}
{% block title %}{{ rel }}{% endblock %}
{% block content %}

    {% if rel is defined %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">API Doc</a></li>
            <li class="breadcrumb-item">rels</a></li>
            <li class="breadcrumb-item active">{{ rel }}</li>
        </ol>
        {% include './rel.html.twig' %}
    {% elseif schema is defined %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">API Doc</a></li>
            <li class="breadcrumb-item">schemas</a></li>
            <li class="breadcrumb-item active">{{ schema.id }}</li>
        </ol>
        <h1>{{ schema.id }}</h1>
        {%  include 'schema.table.html.twig' %}
        <p class="lead"><a href="/schemas/{{ schema.id }}">{{ schema.id }} raw file</a></p>
    {% else %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">API Doc</li>
        </ol>
        {% include './welcome.html.twig' %}
    {% endif %}
{% endblock %}
