<h1 class="display-4">{{ rel }}</h1>
<h2>{{ href }}</h2>
{% for method_name, method in doc %}
    <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
    <h1>{{ method_name }}</h1>
    <p class="lead">{{ method.summary }}</p>
    <h3>Parameters</h3>
    <table class="table table-sm">
    {% for param_name, parameters in method.request.parameters %}
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>{{ param_name }}</td>
            <td>{{ parameters.type }}</td>
            <td>{{ parameters.description }}</td>
        </tr>
    {% endfor %}
    </table>
    <h6>
        <span class="badge badge-default">Required</span>
        <span>{{ method.request.required | join(', ')}}</span>
    </h6>

    {% if method.schema %}
        <div style="height: 30px"></div>
        <h3>Schema </h3>
        <h4><a href="/docs/schema?id={{ method.schema.id }}">{{ method.schema.id }}</a></h4>
    {%  endif %}
    {%  set schema = method.schema%}
    {%  include 'schema.table.html.twig' %}
{% endfor %}
