{% if schema.properties %}
<table class="table table-sm">
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Constraints</th>
    </tr>
    {% for prop_name, prop in schema.properties %}
        <tr>
            <td>{{ prop_name }}</td>
            <td>{{ prop.type }}</td>
            <td>{{ prop.description }}</td>
            <td>
                <table class="table table-condensed">
                    {% for const_name, const in prop if const_name != 'type'%}
                        {% if not (const_name in ['description']) %}
                            <tr>
                                <td>{{ const_name }}</td>
                                <td>{{ const | json_encode()}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if schema.type == 'array' %}
    <span class="label label-default">array</span>
    <table class="table">
        {% for key, item in schema.items %}
            <tr>
                <td>{{ key }}</td>
                {% if key == '$ref' %}
                    <td><a href="?schema={{ item }}">{{ item }}</a></td>
                {% else %}
                    <td>{{ item | json_encode()}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if schema.required is defined %}
    <div>
        <h6>
            <span class="badge badge-default">Required</span>
            <span>{{ schema.required | join(', ')}}</span>
        </h6>
    </div>
{% endif %}
{% if schema.additionalProperties is defined %}
    <div>
        <h6>
            <span class="badge badge-default">additionalProperties</span>
            <span>{{ schema.additionalProperties ? 'yes' : 'no'}}</span>
        </h6>
    </div>
{% endif %}
